body {
    background-color: #E9F9F7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgencabezado {
    border: 5px solid #4591af;
    width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 10px;
}

ul li {
    display: inline;
}

#instagram, #facebook {
    width: 90px;
}

button {
    height: 60px;
    width: 350px;
    margin-bottom: 20px;
}

.titulo {
    font-size: 60px;
    text-align: center;
    margin: 30px;
}

.descriptivo, .descriptivo2 {
    text-align: justify;
    font-size: 25px;
    margin: 0 40px 40px;
}

.subtitulo {
    font-size: 35px;
    text-align: center;
    margin: 60px 40px 30px;
}

.listasub {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 30px auto;
}

.imgsub {
    width: 250px;
    text-align: center;
    font-style: italic;
    font-size: 35px;
}

.listasub img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border: 6px solid #4591af;
}

.footer {
    background-color: #4591af;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 20px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin: 10px 0;
}

.social-links {
    margin-top: 10px;
}

.redessociales a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.redessociales a:hover {
    color: #287777;
}

.formulario {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.contacto {
    margin-bottom: 15px;
    text-align: left;
}

.contacto label {
    display: block;
    margin-bottom: 5px;
}

.contacto input,
.contacto textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 1px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #4591af;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4591af;
}